name: Daily Bing Image Update

on:
  schedule:
    - cron:  '0 16 * * *'

  workflow_dispatch:
  

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
        pip install ruamel.yaml
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Update Image
      run: |
        import requests
        import ruamel.yaml
        import json
        resp = requests.get("https://cn.bing.com/HPImageArchive.aspx?format=js&idx=0&n=1&nc=1612409408851&pid=hp&FORM=BEHPTB&uhd=1&uhdwidth=3840&uhdheight=2160&mkt=zh-CN")
        info = resp.json()['images'][0]
        print(json.dumps(info, indent=2))
        file_name = 'site/_config.volantis.yml'
        yaml = ruamel.yaml.YAML()
        config = yaml.load(open(file_name, 'r'))
        config['cover']['title'] = info['title']
        config['cover']['subtitle'] = info['copyright']
        config['plugins']['parallax']['images']=['https://cn.bing.com' + info['url']]
        yaml.preserve_quotes = True
        with open(file_name, 'w') as fp:
          yaml.dump(config, fp)
      shell: python
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git pull origin main
        git commit -m "daily image update" site/_config.volantis.yml || echo "Nothing to update"
    - name: GitHub Push
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
