# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Daily Bing Image Update

#on:
#  schedule:
#    - cron:  '0 6 * * *'

on: workflow_dispatch
  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
        pip install ruamel.yaml
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Update Image
      run: |
        import requests
        import ruamel.yaml
        resp = requests.get("https://cn.bing.com/HPImageArchive.aspx?format=js&idx=0&n=1&pid=hp&FORM=BEHPTB&uhd=1&uhdwidth=3840&uhdheight=2160")
        info = resp.json()['images'][0]
        file_name = 'site/_config.volantis.yml'
        yaml = ruamel.yaml.YAML()
        config = yaml.load(open(file_name, 'r'))
        config['cover']['title'] = info['title']
        config['cover']['subtitle'] = info['copyright']
        config['plugins']['parallax']['images']=['https://bing.com' + info['url']]
        yaml.preserve_quotes = True
        with open(file_name, 'w') as fp:
          yaml.dump(config, fp)
      shell: python
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git pull origin main
        git add site/_config.volantis.yml
        git commit -m "daily image update"
    - name: GitHub Push
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
